span.glyphicon-asterisk {
    font-size: 0.75em;
}

.center {
	text-align: center;
}

#success, #error {
	display: none;
}

.btn-primary{
	width:200px;
}

@media screen and (min-width: 768px){
	#user-info{
		float: right;
		margin-right: 25px;
	}
}

@media screen and (max-width: 768px){
  #navbarMail:hover +.dropdown-menu, .dropdown-menu:hover{
		width: 100%;
		position:  relative;
		}
}
