body {
	background-image: url("../images/building.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}

#icon-email{
	background-image: url("../images/mail.png");
	background-repeat: no-repeat;
	background-position: center; 
}

#icon-password{
	background-image: url("../images/password.png");
	background-repeat: no-repeat;
	background-position: center; 
}

#email-form{
	margin-bottom: 15px;
}

#button{
	height: 44px;
	width: 185px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}