.page {
	margin-left: 4%;
	margin-right: 4%;
	height: 95%;
}

#container{
	height:inherit;
}

body, html{
	height:100%;
}

#missed{
	color:red;
}

#progressbar{
	background: rgba(44, 62, 80, 1);
	border: 0px solid rgba(44, 62, 80, 1);
	border-radius: 4px;
	height: 20px;
	margin: 10px;
	text-align: center;
}

#progress{
	border-radius: 4px;
}

#addCurrency{
	float:right;
	padding-left:0px;
	width:195px;
	margin-top:15px;
}